root = true

[*]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
insert_final_newline = true
charset = utf-8
max_line_length = 120

[COMMIT_EDITMSG]
max_line_length = off

[PULLREQ_EDITMSG]
max_line_length = off

[Makefile]
indent_style = tab

[*.mk]
indent_style = tab

[Makefile.*]
indent_style = tab

[{*.md, *.markdown}]
max_line_length = 80

[*.ledger]
indent_size = 4

[*.rs]
indent_size = 4

[*.go]
indent_style = tab
indent_size = 4
