[include]
  path = ~/.gitconfig.private

[core]
  excludesfile = ~/.gitignore
  quotepath = false
  autocrlf = false
  preloadindex = true

[user]
  name = Nathan Kot
  email = me@nathankot.com
  signingkey = 20BD11703257E7B9

[credential]
  helper = /opt/boxen/bin/boxen-git-credential

[hub]
  protocol = https
  host = github.com
	host = github.plaid.com

[log]
  abbrevCommit = true
  decorate = true
  date = relative

[format]
  pretty = format:%C(yellow)%h %<|(22) %Cgreen%aN %>>(22) %Cblue%ad %Cred%d %Creset%s

[push]
  default = current

[pull]
  rebase = false

[color]
  ui = auto

[difftool]
  prompt = false

[mergetool]
  prompt = false

[alias]
  accept-ours = "!f() { files=\"$@\"; [ -z $files ] && files='.'; git checkout --ours -- $files; git add -u $files; }; f"
  accept-theirs = "!f() { files=\"$@\"; [ -z $files ] && files='.'; git checkout --theirs -- $files; git add -u $files; }; f"
  issues = !hub issue
  browse = !hub browse
  hub = !hub
  ctags = !.git/hooks/ctags

[pack]
  windowMemory = 10m
  packSizeLimit = 20m

[diff]
  compactionHeuristic = true
  algorithm = minimal

[commit]
  gpgsign = true

[gpg]
  program = gpg
