.repl_history
.source
*.exe
*.log
*.sqlite
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
*~
*.sw[^f]
.netrwhist
.netrc
*.orig
*.sublime-workspace
.tags_sorted_by_file
Session.vim
/tags
.cs_workspaces
.agignore
.tern-project
.tern-port
.projectile
.emacs.el
.rails_generators~
.timetrap-sheet
.timetrap_sheet
todo.txt
.todo.txt
.ctags
.invrc
*.xcuserdatad
bookmarks
