[include]
  path = ~/.gitconfig.private

[core]
  excludesfile = ~/.gitignore
  quotepath = false
  autocrlf = false
  preloadindex = true

[credential "https://github.com"]
  helper = osxkeychain

[url "https://github.com"]
  insteadOf = ssh://git@github.com

[hub]
  protocol = https
  host = github.com

[log]
  abbrevCommit = true
  decorate = true
  date = relative

[format]
  pretty = format:%C(yellow)%h %<|(22) %Cgreen%aN %>>(22) %Cblue%ad %Cred%d %Creset%s

[push]
  default = current

[pull]
  rebase = false

[color]
  ui = auto

[difftool]
  prompt = false

[mergetool]
  prompt = false

[alias]
  issues = !hub issue
  browse = !hub browse
  hub = !hub
  ctags = !.git/hooks/ctags

[pack]
  windowMemory = 10m
  packSizeLimit = 20m

[diff]
  compactionHeuristic = true
  algorithm = minimal

[commit]
  gpgsign = true

[gpg]
  program = gpg

[magit]
  hideCampaign = true

[credential "https://source.developers.google.com"]
	helper = gcloud.sh

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[rerere]
  enabled = true
