[core]
  excludesfile = ~/.gitignore
  quotepath = false
  autocrlf = false
  preloadindex = true
  editor = /usr/bin/vim

[user]
  name = Nathan Kot
  email = me@nathankot.com

[github]
  user = nathankot

[credential]
  helper = osxkeychain

[log]
  abbrevCommit = true
  decorate = true

[format]
  pretty = oneline

[push]
  default = simple

[pull]
  rebase = true

[color]
  ui = auto

[diff]
  tool = Kaleidoscope

[difftool]
  prompt = false

[mergetool]
  prompt = false

[merge]
  tool = Kaleidoscope

[alias]
  accept-ours = "!f() { files=\"$@\"; [ -z $files ] && files='.'; git checkout --ours -- $files; git add -u $files; }; f"
  accept-theirs = "!f() { files=\"$@\"; [ -z $files ] && files='.'; git checkout --theirs -- $files; git add -u $files; }; f"
  todo = grep --heading --break --ignore-case -e '@todo *'
  rank-contributors = !ruby ~/bin/git-rank-contributors
  issues = !ghi

[difftool "Kaleidoscope"]
  cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"

[mergetool "Kaleidoscope"]
  cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
  trustExitCode = true
