[core]
  excludesfile = ~/.gitignore
  quotepath = false
  autocrlf = false
  preloadindex = true
  editor = vim

[user]
  name = Nathan Kot
  email = me@nathankot.com

[github]
  user = nathankot

[credential]
  helper = osxkeychain

[hub]
  protocol = https

[log]
  abbrevCommit = true
  decorate = true

[format]
  pretty = oneline

[push]
  default = current

[pull]
  rebase = false

[color]
  ui = auto

[diff]
  tool = Kaleidoscope

[difftool]
  prompt = false

[mergetool]
  prompt = false

[merge]
  tool = Kaleidoscope

[alias]
  accept-ours = "!f() { files=\"$@\"; [ -z $files ] && files='.'; git checkout --ours -- $files; git add -u $files; }; f"
  accept-theirs = "!f() { files=\"$@\"; [ -z $files ] && files='.'; git checkout --theirs -- $files; git add -u $files; }; f"
  todo = grep --heading --break --ignore-case -e '@todo *'
  issues = !ghi
  browse = !hub browse
  hub = !hub
  # Usage: `git publish-pull-request 123 ideasaurus staging
  publish-pull-request = "!f() { hub pull-request -i ${1} -b ${2}:${3} -h ${2}:issue/${1};  }; f"

[difftool "Kaleidoscope"]
  cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"

[mergetool "Kaleidoscope"]
  cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
  trustExitCode = true
