<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>Label</key>
    <string>com.homebridge.server</string>
    <key>ProgramArguments</key>
    <array>
      <string>/usr/local/bin/homebridge</string>
    </array>
    <key>StandardOutPath</key>
    <string>/Users/{{ ansible_user_id }}/.homebridge/logfile.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/{{ ansible_user_id }}/.homebridge/logfile.log</string>
    <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
      <key>HOME</key>
      <string>/Users/{{ ansible_user_id }}</string>
    </dict>
  </dict>
</plist>
