snippet con "console.log(...)"
console.log($1);
endsnippet

snippet bef "beforeEach(...)"
beforeEach(function() {
  $1
});
endsnippet

snippet des "describe(...)"
describe('$1', function() {
  $2
});
endsnippet

snippet it "it(...)"
it('$1', function() {
  $2
});
endsnippet
