snippet var "var_dump(...) (var)" b
var_dump($1);
endsnippet

snippet pub "public function ... (pub)" b
public function $1($2)
{
    $3
}
endsnippet

snippet priv "private function ... (priv)" b
private function $1($2)
{
    $3
}
endsnippet

snippet prot "protected function ... (prot)" b
protected function $1($2)
{
    $3
}
endsnippet
