snippet bef "before do ... end (bef)" b
before do
  $1
end
endsnippet

snippet it "it do ... end (it)" b
it '$1' do
  $2
end
endsnippet

snippet des "describe do ... end (des)" b
describe '$1' do
  $2
end
endsnippet
